@media (max-width: 600px) {
    img{
        width: 50%;
    }
}

@media (min-width: 1200px) {
    img{
        width: 20%;
    }
}

#body1{
color: white;
background-color: grey;
    }

img{
height: auto;
width: 25%;
   }

.divGroup{
    border: solid 10% white;
    }

#h11{
    background: linear-gradient(to right, blue, azure);
    text-align: center;
    }

#image1{
    width: auto;
    height: auto;
}

#body2{
    background-color: beige;
}

#image2{
    width: 100%;
    height: auto;
}

.centerGroup{
    text-align: center;
}

#body3{
    background-color: #faeed1;
}

.imageCenter{
    width: 50%;
    height: auto;
    border: solid 5px black;
}

#body4{
    background-color: antiquewhite;
    color: black;
}

#body5{
    background-color: blanchedalmond;
}

#image3{
    width: 55%;
    height: autopx;
    margin: auto;
}

#divLast{
    border: solid 5px white;
    margin: auto;
}

.navigation{
    display: flex;
    justify-content: center;
    border: solid 5px azure;
    background-color: turquoise;
    
}

.navigation a{
    color: white;
    margin: auto;
    font-weight: bold;
}
